@inject IHttpContextAccessor HttpContextAccessor

@{
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");

    bool isLoggedIn = role != null;
    bool isAdmin = role == "Admin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iBet</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>


<body class="@ViewData["Theme"]">

    <nav class="navbar navbar-expand-lg navbar-dark px-4 custom-navbar">

        <a class="navbar-brand" asp-page="/Index">iBet</a>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav">


                @if (isLoggedIn)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Games">Games</a>
                    </li> 
                } 

            </ul>

            <ul class="navbar-nav ms-auto align-items-center">

                @if (!isLoggedIn)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Register">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Login">Sign in</a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item me-3">
                        <a class="nav-link" asp-page="/Dashboard">Admin</a>
                    </li>

                }

                @if (isLoggedIn)
                {
                    <li class="nav-item d-flex align-items-center me-3">
                        <span id="userBalance" class="fw-bold me-2">
                            Balance: ...
                        </span>

                        <button class="btn btn-success btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#depositModal">
                            +
                        </button>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Logout">Logout</a>
                    </li> 
                }

            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*deposit modal*@
    <div class="modal fade" id="depositModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Deposit Funds</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <input type="number"
                           id="depositAmount"
                           class="form-control mb-3"
                           placeholder="Enter amount" />

                    <select id="depositMethod" class="form-control">
                        <option value="0">BTC</option>
                        <option value="1">ETH</option>
                        <option value="2">Bank</option>
                        <option value="3">Card</option>
                        <option value="4">Google Pay</option>
                        <option value="5">Apple Pay</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" onclick="deposit()">Deposit</button>
                </div>

            </div>
        </div>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/navbar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
