@page
@model BettingSystem.Pages.Admin.PaymentsPartialModel
@{
    Layout = null;
}

<div id="searchBox">
</div>

<div class="table-wrapper">
    <div id="paymentsTable">
    </div>
</div>

<div id="pagination">
</div>

<div id="return">

</div>