@page "/Games/Dices"
@model BettingSystem.Pages.DicesModel
@{
}

<title>Dice Game</title>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: white;
        font-family: Arial, sans-serif;
        color: white;
    }

    .page-center {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-container {
        width: 900px;
        height: 700px;
        background-color: #52525c;
        border-radius: 15px;

        display: flex;
        flex-direction: column;

        align-items: center;

        box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }

    .title {
        font-size: 24px;
        margin-top: 20px;
        text-align: center;
        color: black;
    }



    .dice-top-background {
        background-color: #52525c;
        width: 90%;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        /* align-items: flex-end; */
        justify-content: space-between;
        /* gap: -20px; */
        margin-top: 35px;
       
    }

    .dice-middle-background {
        background-color: #52525c;
        width: 90%;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        justify-content: space-between;


        gap: 10px;
        

    }

    .dice-bottom-background {
        background-color: #52525c;
        width: 90%;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .input-wrapper {
        position: relative;
        display: inline-block;
    }

    .text-buttons {
        position: absolute;
        right: 25px;
        top: 60%;
        transform: translateY(-50%);
        display: flex;
        gap: 5px;
    }

        .text-buttons button {
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #52525c;
            color: white;
        }

        .text-buttons button:first-child {
            background-color: transparent;
            font-weight: bold;
            padding: 5px 10px;
            
        }


    .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

    }

        .input-group label {
            font-size: 12px;
            color: #ccc; 
        }

    .profit {
        padding: 30px;
        text-align: center;
        background-color: #3a3a42;
        color: white;
        border-radius: 6px;
        font-weight: bold;
    }

    .profit-group {
        width: 20%;
    }

    .text-area-bet {
        width: 100%;
        padding: 30px 25px;
        padding-right: 380px; 
        text-align: left;
        border-radius: 6px;
        border: none;
        background-color: #3a3a42;
        color: white;
        outline: none;
    }

    .under-over {
        width: 15%;
        
        
    }

    .under-over button{
        width: 100%;
        height: 80%;
        padding: 30px;
        text-align: center;
        border-radius: 6px;
        border: none;
        background-color: #3a3a42;
        color: white;
    }


    .text-area-roll {
        width: 25%;
    }
        .text-area-roll input {
            background-color: #3a3a42;
            padding: 30px;
            text-align: center;
            color: white;
            border-radius: 6px;
            border: none;
            font-size: 24px;
            
        }

    .text-area-multi {
        width: 25%;
        
    }

        .text-area-multi input {
            padding: 30px 35px;
            text-align: center;
            background-color: #3a3a42;
            color: white;
            border-radius: 6px;
            border: none;
            font-size: 24px;
        }

    .text-area-chance {
        width: 25%;
        
    }

        .text-area-chance-label {
            padding: 30px;
            text-align: center;
            background-color: #3a3a42;
            color: white;
            border-radius: 6px;
            font-size: 24px;
        }


    .slidecontainer {
        position: relative;
        width: 77%; /* Width of the outside container */
        margin: 80px;
        
    }

    .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 10px; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        border-radius: 5px;
    }

        .slider:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 8px; /* Set a specific slider handle width */
            height: 75px; /* Slider handle height */
            background: white; /* Green background */
            cursor: pointer; /* Cursor on hover */
            border-radius: 5px;
        }



    .roll-dice-button {
        padding: 15px 55px;
        font-size: 16px;
        font-weight: bold;
        background-color: limegreen;
        color: white;
        border-radius: 6px;
        border: none;
    }

    .roll-dice-button:hover {
        background-color: forestgreen;
    }

    p {
        color:black;
    }

   @@keyframes tada {
        0% {
            transform: scale(1) translateX(-50%)
        }

        50% {
            transform: scale(.9) rotate(-3deg) translateX(-50%)
        }

        100% {
            transform: scale(1) translateX(-50%)
        }
    }

    .shape {
        position: absolute;
        top: -15px;
       

        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 3px;

        display: none;

        transform: translateX(-50%);

        animation: tada 0.6s;


        color: white;
        font-size: 16px;
        align-content: center;
        text-align: center;

    }



</style>


<div class="title">🎲 Dice</div>

<div class="page-center">

    <div class="game-container">


        <!--div top-->

        <div class="dice-top-background">


            <div class="input-wrapper">

                <label for="bet-amount"> Bet amount: </label>
                    <input type="number" id="bet-amount" min="1" max="100" value="5" class="text-area-bet" />
                

                    <div class="text-buttons">
                        <button id="clearBtn">CLEAR</button>
                        <button id="plusOneBtn">+1</button>
                        <button id="plusTenBtn">+10</button>
                        <button id="halfBtn">1/2</button>
                        <button id="multiTwoBtn">X2</button>
                        <button id="maxBtn">MAX</button>
                    </div>

            </div>

            <div class="profit-group">
                <span>Profit:</span>

                <div class="profit" id="profit-num"></div>

            </div>


                    


        </div>

        <!-- div middle -->

        <div class="dice-middle-background">

            <div class="under-over">
                <span>Roll type</span>
                <button id="rollTypeBtn">Under</button>
            </div>


            <div class="text-area-roll">
                <label for="roll-num">Value:</label>
                <input type="number" min="0.01" max="99.99" value="47.51" id="roll-num" />
            </div>
                

            <div class="text-area-multi">
                <label for="multi-num">Multiplier:</label>
                <input type="number" min="1" max="9500" value="2"  id="multi-num" />       
            </div>


            <div class="text-area-chance">
                <span>Win chance:</span>
                <div class="text-area-chance-label" id="chance-num"></div>
            </div>


           


        </div>

        <!--slider-->

        <div class="slidecontainer">
            <input type="range" min="0.01" max="99.99" value="50.00" step="0.01" class="slider" id="slider-id">

            <div id="roll-marker" class="shape"></div>
        </div>


        <!--div bottom-->

        <div class="dice-bottom-background">

            <button class="roll-dice-button" id="roll-dice">ROLL DICE</button>

        </div>
        

    </div>
</div>
     
<script src="~/js/navbar.js"></script>
<script>
    const betInput = document.getElementById("bet-amount");
    const profitLabel = document.getElementById("profit-num");
    const rollNumber = document.getElementById("roll-num");
    const multiplierNumber = document.getElementById("multi-num");
    const chanceNumber = document.getElementById("chance-num");
    const sliderValue = document.getElementById("slider-id");

    const clearBtn = document.getElementById("clearBtn");
    const plusOneBtn = document.getElementById("plusOneBtn");
    const plusTenBtn = document.getElementById("plusTenBtn");
    const halfBtn = document.getElementById("halfBtn");
    const multiBtn = document.getElementById("multiTwoBtn");
    const maxBtn = document.getElementById("maxBtn");
    
    const marker = document.getElementById("roll-marker");

    const rollTypeBtn = document.getElementById("rollTypeBtn");

    const rollDiceBtn = document.getElementById("roll-dice");


    let rollType = "Under";

    init();

    function init() {
        syncFromSlider();
        updateSliderBackground();
        updateProfit();
    }



    clearBtn.onclick = () => {
        betInput.value = 0;
        updateProfit();
    };

    plusOneBtn.onclick = () => {
        betInput.value = (+betInput.value || 0) + 1;
        updateProfit();
    };

    plusTenBtn.onclick = () => {
        betInput.value = (+betInput.value || 0) + 10;
        updateProfit();
    };

    halfBtn.onclick = () => {
        betInput.value = (betInput.value / 2).toFixed(2);
        updateProfit();
    };

    multiBtn.onclick = () => {
        betInput.value = (betInput.value * 2).toFixed(2);
        updateProfit();
    };

    maxBtn.addEventListener("click", async () => {
        const response = await fetch('/api/user/balance');

        if(response.ok) {
            const balance = await response.json();

            betInput.value = balance.toFixed(2);
        }
    });


    rollTypeBtn.onclick = () => {
        rollType = rollType === "Under" ? "Over" : "Under";
        rollTypeBtn.innerText = rollType;

        syncFromSlider();
        updateSliderBackground();
    };


    sliderValue.addEventListener("input", () => {
        let value = parseFloat(sliderValue.value);

        if (rollType === "Under" && value > 95) {
            value = 95;
        }

        if (rollType === "Over" && value < 5.99) {
            value = 5.99;
        }

        sliderValue.value = value;

        syncFromSlider();
    });

    rollNumber.addEventListener("input", () => {
        let value = parseFloat(rollNumber.value);

        if (rollType === "Under" && value > 95) value = 95;
        if (rollType === "Over" && value < 5.99) value = 5.99;

        sliderValue.value = value;

        syncFromSlider();
    });

    multiplierNumber.addEventListener("input", () => {
        let multi = parseFloat(multiplierNumber.value);
        if (!multi || multi <= 0) return;

        let chance = 99 / multi;

        if (chance > 95) chance = 95;
        if (chance < 0.01) chance = 0.01;

        chanceNumber.innerText = chance.toFixed(2) + "%";

        if (rollType === "Under") {
            sliderValue.value = chance;
        } else {
            sliderValue.value = 100 - chance;
        }

        rollNumber.value = sliderValue.value;

        updateSliderBackground();
        updateProfit();
    });

    betInput.addEventListener("input", updateProfit);

    rollDiceBtn.addEventListener("click", async () => {
        const url = `/api/dice/rolldice`;

        if(betInput.value <= 0) {
            console.error("Bet amount invalid!");
            return;
        }

        const balanceResponse = await fetch('/api/user/balance');

        if (!balanceResponse.ok) return;

        const balance = await balanceResponse.json();

        if(balance <= 0) {
            console.error("Not enough balance!");
            return;
        }
 
        const gameInfo = 
        {
            betAmount: betInput.value,
            rollNumber: rollNumber.value,
            rollType: rollType
        };

        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(gameInfo)
        });

        if(!response.ok) return;


        let data = await response.json();

        showRollMarker(data.value.rolled);
        loadBalance();

    });


    function syncFromSlider() {
        let value = parseFloat(sliderValue.value);

        if (rollType === "Under" && value > 95) value = 95;
        if (rollType === "Over" && value < 5.99) value = 5.99;

        sliderValue.value = value;
        rollNumber.value = value.toFixed(2);

        let chance;

        if (rollType === "Under") {
            chance = value;
        } else {
            chance = 100 - value;
        }

        if (chance > 94) chance = 95;
        if (chance < 0.01) chance = 0.01;

        let multi = 95 / chance;
        if ((multi === 1.00) && (chance === 95)) {
            multi = 1.01;
        }

        chanceNumber.innerText = chance.toFixed(2) + "%";
        multiplierNumber.value = multi.toFixed(2);

        updateSliderBackground();
        updateProfit();
    }

    function updateSliderBackground() {
        let value = parseFloat(sliderValue.value);
        

        if (rollType === "Under") {
            sliderValue.style.background = 
            `
                linear-gradient(to right,
                #00c853 0.01%,
                #00c853 ${value}%,
                #ff5252 ${value}%,
                #ff5252 99%)
            `;
        } else {
            sliderValue.style.background = `
                linear-gradient(to right,
                #ff5252 0.01%,
                #ff5252 ${value}%,
                #00c853 ${value}%,
                #00c853 99%)
            `;
        }
    }

    function updateProfit() {
        let bet = parseFloat(betInput.value);
        let multi = parseFloat(multiplierNumber.value);

        if (!bet || !multi || bet <= 0) {
            profitLabel.innerText = "0.00";
            return;
        }

        profitLabel.innerText = (bet * multi).toFixed(2);
    }

    function showRollMarker(rollValue) {
        let min = parseFloat(sliderValue.min);
        let max = parseFloat(sliderValue.max);

        let percent = (rollValue - min) / (max - min) * 100;

        marker.style.left = percent + "%";
        marker.style.display = "block";

        marker.style.animation = "none";
        marker.offsetHeight;
        marker.style.animation = "tada 0.6s";
        marker.innerText = rollValue;

        if(rollValue > rollNumber.value && rollType === "Over") 
        {
            marker.style.background = "#00c853";
        }
        else if(rollValue < rollNumber.value && rollType === "Over")
        {
            marker.style.background = "#ff5252";
        }
        else if(rollValue < rollNumber.value && rollType === "Under")
        {
            marker.style.background = "#00c853";
        }
        else if(rollValue > rollNumber.value && rollType === "Under")
        {
            marker.style.background = "#ff5252";
        }

    }

</script>