@page
@model BettingSystem.Pages.LoginModel
@{
    ViewData["Theme"] = "theme-default";
}

<link rel="stylesheet" href="~/css/auth.css" />
<body>

    <div class="animated-bg">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="auth-container">
        <div class="auth-card">
            <h1>Welcome Back</h1>
            <p>Login to continue</p>

            <div class="input-group">
                <input id="email" placeholder=" " />
                <label>Email</label>
            </div>

            <div class="input-group">
                <input id="password" type="password" placeholder=" " />
                <label>Password</label>
            </div>

            <button id="loginBtn" class="auth-btn">Login</button>

            <div id="login-result"></div>

            <div class="auth-footer">
                No account? <a href="/Register">Sign up</a>
            </div>
        </div>
    </div>


</body>


<link rel="stylesheet" href="~/css/auth.css" />
<script src="~/js/login.js"></script>