@page
@model BettingSystem.Pages.RegisterModel
@{
    ViewData["Theme"] = "theme-default";
}

<body>
    <div class="animated-bg">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="auth-container">
        <div class="auth-card">
            <h1>Create Account</h1>
            <p>Join iBet and start winning</p>

            <div class="input-group">
                <input id="firstName" placeholder=" " />
                <label>First Name</label>
            </div>

            <div class="input-group">
                <input id="lastName" placeholder=" " />
                <label>Last Name</label>
            </div>

            <div class="input-group">
                <input id="email" placeholder=" " />
                <label>Email</label>
            </div>

            <div class="input-group">
                <input id="password" type="password" placeholder=" " />
                <label>Password</label>
                <div id="strength" class="password-strength"></div>
            </div>

            <button id="registerBtn" class="auth-btn">Register</button>

            <div id="register-result"></div>

            <div class="auth-footer">
                Already have account? <a href="/Login">Login</a>
            </div>
        </div>
    </div>
</body>

<script src="~/js/register.js"></script>
<link rel="stylesheet" href="~/css/auth.css" />